<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Bebidas..</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="../css/headers.css" rel="stylesheet">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">

            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="/" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Regresar
                        </a>
                    </li>
                    <li>
                        <a href="/newbebida" class="nav-link text-blue">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                            Nueva Bebida
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</head>
<body>
<div align="center">
    <h1>Listado de Bebidas</h1>

    <br/><br/>
    <table class="table table-bordered border-primary table-info table-striped">
        <thead class="table-warning">
        <tr>
            <th>Id Bebida</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="T004_Bebidas : ${listBebidas}">
            <td th:text="${T004_Bebidas.id}">Id Plato</td>
            <td th:text="${T004_Bebidas.t004BebidasDescripcion}">Nombre</td>
            <td th:images="${T004_Bebidas.t004BebidasImagen}"Imagen</td>
            <td th:text="${T004_Bebidas.t004BebidasPrecio}">Precio</td>
            <td>
                <a th:href="@{'/editb/' + ${T004_Bebidas.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteb/' + ${T004_Bebidas.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>