<head th:fragment="encabezado" xmlns:th="http://www.w3.org/1999/xhtml">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Punto de venta con Spring Boot. Control de inventario y ventas ">
  <meta name="author" content="Parzibyte">
  <title>Sistema de ventas Spring Boot</title>
  <!-- Cargar el CSS de Boostrap-->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/fa.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>